<div class="row">
    <h1> Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 part1">
            <h2>Pequeño paint</h2>
        <p>Este proyecto lo realicé haciendo prácticas en el curso de Oracle Next Education. 
            Podemos seleccionar el color con el que se desea dibujar en el espacio gris.
        </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 part2">
            <img src="../../../assets/logos/paint.PNG" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
