<div class="row">
    <h1> Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [title]="'HTML'"
        [showTitle]="true"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
  ></circle-progress>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/CSS.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/git.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/ingles.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="75"
        [imageSrc]="'../../../assets/logos/companierismo.png'"
        [showImage]="true"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [showSubtitle]="false"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress>
    </div>


</div>