<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logos/yoo.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Alú Svagelj Martina</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Sobre mí </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam exercitationem odio veniam, rem earum possimus quo quasi itaque rerum harum provident! Quas sint nemo deserunt odio illum distinctio, totam ipsum.</p>
        </span>
    </div>
</div>
