<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/logos/yoo.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> {{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Sobre mí </h1>
            <p>Aspiro a conseguir mi primer experiencia en el mundo laboral IT, ampliar mis conocimientos y valores.</p>
            <p>Soy una persona resolutiva y creativa, responsable en las actividades que realizo.</p>
        </span>
    </div>
</div>
