<div class="row">
    <h1> Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Recepción</h1> - <h2> Dish Catering</h2>
                <h3>(Sep 2022 - Mar 2023)</h3>
            </li>
            <p>Recepción y atención a clientes, administración de llamadas telefónicas, orden y reclamo de remitos, gestión de redes sociales, registro y revelevo de reclamos o consultas.</p>
        </ul>
        <ul>
            <li>
                <h1>Administración y recepción</h1> - <h2> Veggieland</h2>
                <h3>(May 2022 - Ago 2022)</h3>
            </li>
            <p>Carga y control de stock, recibo y entrega de productos, atención al cliente, registre y relevo de reclamos o consultas, ayudante de diseño</p>
        </ul>
    </div>
</div>