<!-- EDUCACION POR TERMINAR -->
<div class="row">
    <h1> Educacion por terminar</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Programación web full stack junior </h1> - <h2> YoProgramo - Gobierno Argentino</h2>
                <h3>(Oct 2022 - Actualidad)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Programación web (backend) </h1> - <h2>Oracle Next Education</h2>
                <h3>(Nov 2022 - Actualidad)</h3>
            </li>
        </ul>
    </div>
</div>

<!-- EDUCACION TERMINADA -->
<div class="row">
    <h1> Educacion finalizada</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnicatura en Multimedios </h1> - <h2> Instituto La Salle San Martin</h2>
                <h3>(Mar 2013 - Dic 2019)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>SeProgramar (Programación básica) </h1> - <h2>SeProgramar - Gobierno Argentino</h2>
                <h3>(Jun 2022 - Sep 2022)</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Big data</h1> - <h2>Codo a codo 4.0 - Buenos Aires ciudad</h2>
                <h3>(Ago 2022 - Dic 2022)</h3>
            </li>
        </ul>
    </div>
</div>

